.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
  }
  
  .example-container mat-form-field {
    width: 400px;
  }
  
  .example-container form {
    margin-bottom: 18px;
  }
  
  .example-container form>* {
    margin: 12px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }
  
  .example-form-fields {
    display: flex;
    align-items: flex-start;
  }
  
  .center {
    margin: auto;
    width: 80%;
    border: 1px solid #b3f0ff;
    border-radius: 12px;
    padding: 30px;
    border-left: 6px solid red;
    background-color: #d8f7ff;
  }
  .center h1{
    font-family: "Sofia", sans-serif;
    font-size: 02.5em;
  }

#bhj{
  gap: 50px;
}

span.circle {
  background: #e3e3e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #6e6e6e;
  display: inline-block;
  font-weight: bold;
  line-height: 60px;
  margin-inline-end: 5px;
  text-align: center;
  inline-size: 60px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
