<div>
    <div class="container-fluid" >
        <h1 mat-dialog-title>Forgot Password</h1>
        <div mat-dialog-content class="example-container">
            <form >
                <div class="example-form-fields">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="Email">
                </mat-form-field>
                </div>
                <div class="example-form-fields">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="example-form-fields">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hidew ? 'password' : 'text'" formControlName="Password">
                        <button mat-icon-button matSuffix (click)="hidew = !hidew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hidew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div mat-dialog-actions [align]="'center'">
            <button style="margin-left:10px;" mat-raised-button color="primary" >Submit</button>
            <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        </div>
    </div>
</div>
